@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Poppins&family=Yeon+Sung&display=swap');


.App {
  text-align: center;
}
#root{
  font-family: 'Poppins', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#root{
  z-index: 1;
}
.nav-background{
  background-color: transparent;
}

.offcanvas-header{
  background-color: #212529;
  color: whitesmoke;
}
.offcanvas-body{
  background-color: #212529;
}
.page-header{
  z-index: 9999;
}
.nav-link {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
}
.navbar-nav a{
  text-decoration: none;
  color: #f5f5f5;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
}
.navbar-brand{
  cursor:pointer;
}
.navbar-nav a:hover{
  background-color: #999999;
  color: #f5f5f5;
  cursor:pointer;
}

.mainFreame{
  width: 100%;
}

#mainPage-chapter1{
  background-color: rgba(255,255,255,0.3);
  position: relative;
  width: 100%;
  margin-top: 40vh;
  height: calc(100vh - 40vh);
  /*font-family: 'Yeon Sung', cursive;*/
  display: block;
  background-size: cover;
  color: whitesmoke;
}
.busan_img{
  width: 100%;
  display: block;
  object-fit: cover;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -1;
}
.topBtn{
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 1;
}
.openTack-btn{
  max-width: 200px;
}
#quote{
  font-family: 'Gowun Dodum', sans-serif;

}
.blockquote-footer{
  font-size: 21px;
}

@media (max-width: 767px) {
  .contact-text{
    font-size: 16px;
  }
  #quote{
    font-size: 17px;
  }
  .blockquote-footer{
    font-size: 14px;
  }
  .AboutMeText{
    padding: 20px 10px;
    font-size: 12px;
    text-align: center;
  }
  .more-btn{
    width: 50vw;
    font-size: 12px;
  }
  #profileImg {
    object-fit: cover;
    display: block;
    margin: auto;
    width: 45vw;
    height: 45vw;
  }
}
@media (min-width: 768px) {
  #quote{
    font-size: 29px;
  }
  .blockquote-footer{
    font-size: 19px;
  }
  .AboutMeText{
    padding: 20px 10px;
    font-size: 12px;
  }
  .more-btn{
    width: 50vw;
    font-size: 12px;
  }
  #mainPageAboutMe {
    max-width: 90vw;
  }
  #profileImg {
    object-fit: cover;
    display: block;
    margin: auto;
    width: 20vw;
    height: 20vw;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #quote{
    font-size: 32px;
  }
  .blockquote-footer{
    font-size: 21px;
  }
  .AboutMeText{
    padding: 20px 10px;
    font-size: 1.5vw;
  }
  .more-btn{
    width: 50vw;
    font-size: 12px;
  }

  #mainPageAboutMe {
    max-width: 85vw;
  }
  #profileImg {
    object-fit: cover;
    display: block;
    margin: auto;
    width: 20vw;
    height: 20vw;

  }
}
@media (min-width: 1200px){
  #quote{
    font-size: 35px;
  }
  .blockquote-footer{
    font-size: 23px;
  }
  .AboutMeText{
    padding: 20px 10px;
    font-size: 0.9vw;
  }
  .more-btn{
    width: 30vw;
    font-size: 0.9vw;
  }
  #mainPageAboutMe {
    max-width: 75vw;
  }
  #profileImg {
    object-fit: cover;
    display: block;
    margin: auto;
    width: 15vw;
    height: 15vw;
  }
}



#mainPageAboutMeOuter{
  background-color: #ffff;
  /*height: 80vh;*/

}
#mainPageAboutMe{
  background-color: #F7F8F9;
  height: 100%

}

.card:hover{
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  filter: brightness(70%);
  transition: 0.3s ease;
  color: white;
  z-index: 1;
}

.circularImg{
  position: relative;
  overflow: hidden;
  padding: 30px;
}
.main-text, .contact-text{
  font-family: 'Gowun Dodum', sans-serif;
}
/*.AboutMeText{*/
/*  padding: 30px;*/
/*}*/
/*.about_content{*/
/*  font-size: 1.8vw;*/
/*}*/