@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Yeon+Sung&display=swap');


.App {
  text-align: center;
}
#root{
  /*font-family: 'Yeon Sung', cursive;*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#root{
  z-index: 1;
}

.page-header{
  z-index: 9999;
}
.nav-link {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
}
.navbar-nav a{
  text-decoration: none;
  color: #f5f5f5;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
}
.navbar-nav a:hover{
  background-color: #999999;
}

.mainFreame{
  width: 100%;
}

#mainPage-chapter1{
  background-color: rgba(255,255,255,0.3);
  position: relative;
  width: 100%;
  margin-top: 40vh;
  height: calc(100vh - 40vh - 56px);
  /*font-family: 'Yeon Sung', cursive;*/
  display: block;
  background-size: cover;
  color: whitesmoke;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -1;
}
.topBtn{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}

#quote{
  font-family: 'Gowun Dodum', sans-serif;
}